@* KUNDE HOME INDEX *@

@using LyngbyBrygRepo
@model KundeTabel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

@*@if (Session["id"] == null)
{
    <a href="/Login/">Login</a>
}
else
{
    <a href="/Login/Logout">Logout</a>
    <br />
    <text><b>Navn</b> |</text> @Session["id"]
    <br />
    <text><b>Role</b> |</text> @Session["role"]

}*@

Velkommen igen, BRUGER!

<p>
    <a href="/Kunde/Ordre/">Ordredetaljer</a><br />
    <a href="/Kunde/Ordre/">Oplysninger</a>
</p>


<a href="/Login/Logout">
    <span class="nb-link-text">Log Ud</span>
</a>

