<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/CSS/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/CSS/mainlayout.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid">
        <header class="row">
            <nav class="navbar navbar-expand-lg navbar-light col-md-12">
                <img class="navbar-brand img-fluid logo" src="~/Content/Images/Generelt/lyngbybryghuslogoskriftblack-min.png">
                <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/Index/">Forside</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/Produkter/">Produkter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Bestilling/">Bestilling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Kontakt/">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/KundeLogin/Index/">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <section class="row">

            <div class="col-md-8 offset-md-2 indhold">
                @RenderBody()
            </div>
        </section>

        <footer class="row">
            <div class="col-md-6">
                <img class="img-fluid footerlogo mx-auto d-block" src="~/content/Images/Generelt/lyngbybryghuslogoblack-min.png" />
            </div>

            <div class="col-md-6">
                <h4>Følg os på facebook</h4>
                <a href="https://www.facebook.com/LyngbyBryghus/" target="_blank">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-facebook  fa-stack-1x"></i>
                    </span>
                </a>
            </div>



        </footer>
    </div>


    @* SCRIPTS *@
    <script src="~/Content/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
</body>
</html>

