<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/CSS/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/CSS/mainlayout.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid">
        <header class="row">
            <div class="col-md-4">
                <img class="navbar-brand img-fluid" src="~/content/Images/Generelt/lyngbybryghuslogoskriftblack-min.png" />
            </div>
            <nav class="col-md-8 navbar">
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>*@
                @*<div class="collapse navbar-collapse" id="navbar">*@
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">forside</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">produkter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">bestilling</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">kontakt</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">login</a>
                    </li>
                </ul>
                @*</div>*@
            </nav>
        </header>

        <section class="row">
            @RenderBody()
        </section>

        <footer class="row">

            <div class="col-md-4">
                <img class="img-fluid" src="~/content/Images/Generelt/lyngbybryghuslogoskriftblack-min.png" />
            </div>

            <div class="col-md-4 footeraddress">
                <p>
                    Svinget 2<br />
                    8570 Trustrup<br />
                    Lyngby J
                </p>
            </div>

            <div class="col-md-4">
                <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
            </div>

        </footer>
    </div>


    @* SCRIPTS *@
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/Scripts/jquery-3.2.1.js"></script>

</body>
</html>