/* Custom Font */
@font-face {
    font-family: 'Norse-Bold';
    src: url('../../fonts/Norse-Bold.woff') format('woff'), 
        url('../../fonts/Norse-Bold.eot') format('embedded-opentype'), 
        url('../../fonts/Norse-Bold.svg') format('svg'), 
        url('../../fonts/Norse-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../../fonts/fontawesome-webfont.eot') format('embedded-opentype'), 
        url('../../fonts/fontawesome-webfont.svg') format('svg'), 
        url('../../fonts/fontawesome-webfont.ttf') format('truetype'), 
        url('../../fonts/fontawesome-webfont.woff') format('woff'), 
        url('../../fonts/FontAwesome.otf') format('opentype');
}

/* #region Body */

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../Images/Generelt/baggrund3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6{
    font-family:Norse-Bold;
}
.fa {
    font-family: fontawesome-webfont;
    color: #fff;
}
.icon-background {
    color: #000;
}
a {
    color: #000;
} 

a:hover {
    text-decoration: none;
    color: #000;
}
.logo {
    max-height: 150px;
}
section, footer {
    font-size: 18px;
}
h1 {
    font-size: 2rem;
}
.kontaktlinks {
    font-family: Arial, Helvetica, sans-serif !important;
}
.indhold{
    background-color:rgba(255,255,255, 0.3);
    padding: 20px;
}

/* #endregion */

/*#region Index */

.omosbillede{
    margin-top:20px;
}

.columns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#indexheadline{
    font-family:Norse-Bold;
    font-size:40px;
    margin-bottom:30px;
}

/*#endregion */


/* #region Footer og Nav */

nav {
    text-transform: uppercase;
    font-size: 20px;
}
.nav-link {
    color: black;
    font-family:Norse-Bold;
    font-size:25px;
}
.navbar-nav > li > a:hover {
    text-decoration: underline;
    color: black;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.bg-light {
    background-color: #fff !important;
}
footer {
    padding: 20px 0;
    position: absolute;
    /*bottom: 0;*/
    width: 100%;
    height: 200px;  /*Set the fixed height of the footer here */
}
.footerlogo {
    max-height: 150px;
}

.footerlogoskrift{
    max-height:50px;
}

.facebook{
    float:right;
}

.contact{
    float:right;
}

.footeradresse{
    margin-top:25px;
}

/* #endregion */

/*#region Produkter */
.maerkat {
    float: right;
    display: inline-block;
}

#headline{
    margin-bottom:20px;
    margin-top:20px;
}

.produktlinje{
    margin-bottom:30px;
}

/*#endregion */

/*#region Produktdetaljer */
.info{
    display:inline-block;
}
.bestil1{
float:left;
   margin-top:15px;
}
.bestil2{
    float:right;
    margin-top:12px;
}
/*#endregion */
