@using LyngbyBrygRepo
@using LyngbyBrygRepo.Models
@model BestillingOptions

@{
    ViewBag.Title = "Bestilling";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <section class="row">
        <div class="col-md-12">
            <h2>Bestilling</h2>
        </div>
    </section>

    <section class="row">
        <div class="col-md-4">
            <h4>Her kan du bestille øl</h4>
            <hr />
        </div>
    </section>

    <section class="row">
        <div class="col-md-12">
            <h4>Jeg ønsker 4 selvvalgte øl</h4>
        </div>
    </section>

    @*<section class="row">
        <div class="col-md-12">
            <form method="post" action="/Home/Index">
                <select name="Navn">
                    @foreach (ProduktTabellen navn in Model.Produkter)
                    {
                        if (navn.ID == Model.Produkter.)
                        {
                            <option selected value="@navn.ID">@navn.Navn</option>
                        }
                        else
                        {
                            <option value="@navn.ID">@navn.Navn</option>
                        }
                    }
                </select>









            </form>
        </div>
    </section>*@
</div>



@*<h2>Bestilling</h2>

<div class="container">
    <section class="row">
        <div class="col-md-12">
            <h4>Her kan du bestille øl</h4>
        </div>
        <hr />
        <h4>Jeg ønsker 4 selvvalgte øl</h4>
    </section>
</div>*@


