
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Din bestilling er nu gået igennem</h2>

<p>
    Du vil få en endelig bekræftelse på din bestilling på din mail, <br />
    her vil du også finde dit midlertidige kodeord.<br />
    Dette kan ændres ved Login.


</p>

