@* HOME - Produkter *@

@using LyngbyBrygRepo.Models;
@using LyngbyBrygRepo;
@model List<ProduktKategoriJoin>


@{
    ViewBag.Title = "Produkter";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="col-md-8 offset-md-2">
    <h1>Vores Øl</h1>

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class=""><h3>@item.Navn</h3> <br /></div>
                <img class="maerkat" src="~/Content/Images/Produkter/@item.Billede" alt="Produktbillede" /> <br />

               <button onclick="~/Views/Home/ProduktDetaljer.cshtml/@item.ID" class="btn btn-block btn-dark"> Se mere </button>
            </div>
        }
    </div>

</div>