@* HOME - Produkter *@

@using LyngbyBrygRepo.Models;
@using LyngbyBrygRepo;
@model List<ProduktKategoriJoin>


@{
    ViewBag.Title = "Produkter";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="col-md-8 offset-md-2">
    <h1>Vores Øl</h1>

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <h3>@item.Navn</h3> <br />
                <a href="~/Content/Images/Produkter/@item.Billede"> <img class="maerkat" src="~/Content/Images/@item.Billede" alt="Produktbillede" /> </a>

                <button class="btn btn-dark"> Se mere </button>
            </div>
        }
    </div>

</div>