@* HOME - Produkter *@

@using LyngbyBrygRepo.Models;
@using LyngbyBrygRepo;
@model List<ProduktKategoriJoin>


@{
    ViewBag.Title = "Produkter";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <h1>Vores Øl</h1>

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-3">
            <h4>@item.Navn</h4> <br />
                <img class="maerkat" src="~/Content/Images/Produkter/@item.Billede" alt="Produktbillede" /> <br />

                <a href="/Home/ProduktDetaljer/@item.ID/"> Se mere </a>
            </div>
        }

    </div>

