@* HOME - Produkter *@

@using LyngbyBrygRepo.Models;
@using LyngbyBrygRepo;
@model List<ProduktKategoriJoin>


@{
    ViewBag.Title = "Produkter";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<center><h1 id="headline">Vores Øl</h1></center>


@{var itemCount = 0; }

@{foreach (var item in Model)
    {



        if (itemCount == 0)
        {
            @:<div class="row produktlinje">
        }

        <div class="col-md-3">
            <center><h3>@item.Navn</h3></center>

            <img class="maerkat img-fluid" src="~/Content/Images/Produkter/@item.Billede" alt="Produktbillede" /> <br />

            <center> <a href="/Home/ProduktDetaljer/@item.ID/" class="more"> Se mere </a></center>
        </div>

        if (itemCount == 3)
        {
            itemCount = 0;
            @:</div> 
        }

        else
        {
            itemCount++;
        }


    }}


