@* KUNDE LOGIN INDEX *@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style type="text/css">
    input {
        margin: 10px 0;
        width: 300px;
    }

    button {
        margin: 10px 0;
    }
</style>
<div class="container">
    <section class="row">
        <div class="col-md-12">
            <center><h2 id="indexheadline">Login</h2></center><br />
        </div>
    </section>
    <section class="row">
        <div class="col-md-5">
            <div class="loginwrap d-block mx-auto">
                <form method="post" action="/KundeLogin/Index/">
                    <div class="form-group">
                        <input id="form_name" type="text" name="Navn" class="form-control" placeholder="Brugernavn" required />
                        <input id="form_password" type="password" name="Password" class="form-control" placeholder="Kodeord" required />
                        <button class="btn knap2" type="submit">Login</button>
                        <button class="btn knap1" type="button">Glemt password</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-md-12">
            <div class="tilbage"><a href="/Home/Index"><button class="btn knap1" type="button">Tilbage</button></a></div>
        </div>
    </section>
</div>
@*<p>
        Velkommen til dit kundelogin<br />
        <input type="text" class="input1" name="Navn" placeholder="Brugernavn" required />
        <br />
        <input type="password" class="input2" name="Password" placeholder="Kodeord" required />
        <br />
        <button class="btn knap2" type="submit">Login</button>
        <button class="btn knap1" type="button">Glemt password</button><br />
        <a href="/Home/Index"><button class="btn knap1" type="button">Tilbage</button></a>

        <br />
        @Html.Raw(ViewBag.Msg)
    </p>*@