@using LyngbyBrygRepo
@model List<AdminTabel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<h1>Admin</h1>

<table class="">
    <thead>
        <tr>
            <td><b>Username</b></td>
            <td><b>Role</b></td>
            <td>Email</td>
            <td><a href="/CMS/Admin/AddNew"><button class="btn btntilfoej">Tilføj Admin</button></a></td>
            <td></td>
        </tr>

    <tbody>
        @foreach (AdminTabel admin in Model)
        {
            <tr>
                <td class="username"> @admin.Navn</td>
                <td class="role">@DisplayRole(admin.Rolle.Value)</td>
                <td >@admin.Mail</td>
                <td class="remove">
                    @if ((int)Session["id"] != admin.ID)
                    {
                        <a href="/CMS/Admin/Delete/@admin.ID"><button class="btn bredde">Fjern</button></a>
                    }

                </td>

                <td class="edit"><a href="/CMS/Admin/Edit/@admin.ID"><button class="btn btnrediger">Rediger</button></a></td>


            </tr>

        }

    </tbody>
</table>


@helper DisplayRole(int? rolle)
{
if (rolle == 1)
{
        <text>Writer</text>
}
else if (rolle == 2)
{
        <text>Admin</text>
}
else
{
        <text>You aren't in a UserGroup </text>
}
}