@using LyngbyBrygRepo.Models
@model OmTabel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<form method="post" action="/CMS/OmOs/Edit/" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="headlineh2">Overskrift</h2>
                <br />
                <input type="text" name="Overskrift" class="inputs hdinput" value="@Model.Overskrift" />
                <br />
                <h2>Indhold</h2>
                <br />
                <textarea class="textarea" name="Indhold">@Model.Indhold</textarea>
            </div>
            <div class="col-sm-12">
                <input type="hidden" value="@Model.ID" name="ID" />
                <button type="submit">Rediger Om Os</button>
            </div>
        </div>
    </div>
</form>

