@using LyngbyBrygRepo.Models
@model List<OmTabel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}



<h1>Om Os</h1>


<table>
    <thead>
        <tr>
            <td>Overskrift</td>
            <td>Indhold</td>
            <td><a href="#"><button class="btn btntilfoej disabled">Tilføj OmOs</button></a></td>
            <td></td>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Overskrift</td>
                <td>@item.Indhold</td>
                <td class="remove">
                    @if ((int)Session["rolle"] >= 1)
                    {
                        <a href="#"><button class="btn bredde disabled">Fjern</button></a>
                    }
                </td>

                <td class="rediger">
                    @if ((int)Session["rolle"] >= 1)
                    {
                        <a href="/CMS/OmOs/Edit/@item.ID"><button class="btn btnrediger">Rediger</button></a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>